.port-back {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  text-align: center;
  font-weight: bold;
  overflow: hidden;
  box-shadow: 0px 0px 4px 0px #000000AA;
}

.port-text-back {
  background-color: #EBD784;
  height: 55px;
  width: 26px;
  padding-top: 5px;
  margin-left: 17px;
  text-align: center;
}

.wood-back {
  background-color: darkgreen;
}

.brick-back {
  background-color: #583A06;
}

.sheep-back {
  background-color: #7FD12E;
}

.wheat-back {
  background-color: #E5D81E;
}

.ore-back {
  background-color: grey;
}

.any-back {
  background-color: #EBD784;
}