<div class="board-back">
  <div class="board-tiles" [style.width]="((102 * (4 + boardSize)) + 40) + 'px'" [style.left]="'calc(50% - ' + ((51 * (4 + boardSize)) + 20) + 'px)'">
    <div *ngFor="let tileRow of tiles; index as i" class="board-row">
      <div [style.width]="getLeftSpace(tiles.length, i) + 'px'" class="spacer">

      </div>
      <ng-container *ngFor="let tile of tileRow">
        <tile [type]="tile.type" [num]="tile.num"></tile>
      </ng-container>
      <br />
    </div>
  </div>
</div>